@using Htmx.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta name="htmx-config"
          historyCacheSize="20"
          includeIndicatorStyles="false"
          indicatorClass="htmx-indicator"
          includeAspNetAntiforgeryToken="true" />
    <title>@(ViewBag.Title ?? "OfficePlanner")</title>
    <link rel="stylesheet" href="~/css/officeplanner.css" asp-append-version="true">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true">
    <script src="~/htmx/htmx.min.js" asp-append-version="true" defer></script>
    <script src="@HtmxAntiforgeryScriptEndpoints.Path" asp-append-version="true" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Page("Index")"
           data-hx-get="@Url.Page("Index")"
           data-hx-target="#main"
           data-hx-replace-url="@Url.Page("Index")">
            <span class="align-middle">Office Planner</span>
        </a>
    </nav>
    <div id="main">
        @RenderBody()
    </div>
</body>
</html>
